<div class="container">
  <h1 class="d-flex justify-content-center text-success">Employee Management App</h1>
</div>
<ul class="nav justify-content-center m-5 mb-2">
  <li class="nav-item">
    <button routerLink="department" class="m-1 btn btn-light btn-outline-success">Department Details</button>
  </li>
  <li class="nav-item">
    <button routerLink="employee" class="m-1 btn btn-light btn-outline-success">Employee Details</button>
  </li>
</ul>
<div class="container">
  <router-outlet></router-outlet>

</div>
