<!-- Button trigger modal -->
<div class="navbar m-2">
  <!-- Search Bar -->
  <div class="d-flex justify-content-start">
    <input  [(ngModel)]="EmployeeNameFilter" (keyup)="filterdata()" placeholder="Employee Name " class="form-control">
    <input  [(ngModel)]="DepartmentFilter" (keyup)="filterdata()" placeholder="Department Name " class="form-control ms-1">

  </div>
  <!-- Add Department -->
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-success m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    (click)="AddEmployeeModal()" data-backdrop="static" data-keyboard="false">
      Add Employee
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{ModalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
       <app-add-edit-emp [Emp]="Emp" *ngIf="ActivateAddEditCom"></app-add-edit-emp>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <p class=" d-flex justify-content-center">Are you sure you want to delete the data?</p>
        </div>
        <div class="row ">
          <div class="col d-flex justify-content-center">
            <button  data-bs-dismiss="modal" aria-label="Close"
              class=" btn btn-success me-3" (click)="deleteEmp()">Delete</button>
            <button class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- SHowing Data -->
<table class="table">
  <thead class="table-dark text-center">
    <tr>
      <th scope="col">EmployeeId</th>
      <th scope="col">EmployeeName
          <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('EmployeeName',true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg></button>
        <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('EmployeeName',false)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg></button></th>
      <th scope="col">Department
        <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('Department',true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg></button>
        <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('Department',false)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg></button>
      </th>
      <th scope="col">Date Of Joining
        <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('DateofJoining',true)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
        </svg></button>
        <button type="button" class="btn-sm btn-light ms-1"
        (click)="sortResult('DateofJoining',false)">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg></button>
      </th>
      <th scope="col">Picture File</th>
      <th scope="col">Action</th>


    </tr>
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let emp of EmployeeList  | paginate: { itemsPerPage: 5, currentPage: p  } ; let i= index;">
      <th>{{[ itemsPerPage * (p - 1) + i +1]}}</th>
      <td>{{emp.EmployeeName}}</td>
      <td>{{emp.Department}}</td>
      <td>{{emp.DateofJoining}}</td>
      <td>{{emp.PhotoFile}}</td>
      <td>
        <button class="btn btn-light m-1" data-bs-toggle="modal"
         data-bs-target="#staticBackdrop" (click)="EditEmployeeModel(emp)"
         data-backdrop="static" data-keyboard="false"><svg
          xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square"
          viewBox="0 0 16 16" >
          <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
        </svg></button>
        <button class="btn btn-light m-1" (click)="deleteEmpModal(emp)"
        data-bs-toggle="modal"  data-bs-target="#exampleModal1"
        data-backdrop="static" data-keyboard="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
        </svg></button>
      </td>

    </tr>

  </tbody>
</table>


<pagination-controls class="d-flex justify-content-center" (pageChange)="p = $event"></pagination-controls>

